.phone-storages-container {
    display: flex;
    align-items: center;
}
.mt-1 {
    margin-top: 1rem;
}
.phone-storage {
    margin-right: 8px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

.selected {
    background-color: aquamarine;
}